[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riseproject-dev/riscv-gnu-toolchain-ci.git
	branch = build-frequent
[submodule "rvv-intrinsic-doc"]
	path = rvv-intrinsic-doc
	url = https://github.com/riscv-non-isa/rvv-intrinsic-doc.git
